
<!-- SLIDER IMAGE DETAIL -->
<!-- RECENT PROPERTY -->
<div class="slider__property bg-light">

    <div class="slider__property-carousel-opacity owl-carousel owl-theme">
        <div class="item">
            <a href="#">
                <img src="../../../assets/img/de3.jpg" alt="" class="img-fluid">
            </a>
        </div>
        <div class="item">
            <a href="#">
                <img src="../../../assets/img/de4.jpg" alt="" class="img-fluid">
            </a>
        </div>
        <div class="item">
            <a href="#">
                <img src="../../../assets/img/2N1Ttt.jpg" alt="" class="img-fluid">
            </a>
        </div>
        <div class="item">
            <a href="#">
                <img src="../../../assets/img/2N1tt.jpg" alt="" class="img-fluid">
            </a>
        </div>


    </div>

</div>
<div class="single__detail-area" >
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-lg-8">
                <div class="single__detail-area-title">
                    <h3 class="text-capitalize">{{post.tieuDe}}</h3>
                    <p> {{post.diaChiChitiet}}</p>
                    <i class="fa fa-eye" aria-hidden="true"></i> {{post.luotXem}}
                </div>
            </div>
            <div class="col-md-3 col-lg-4">
                <div class="single__detail-area-price">
                    <h4 class="text-capitalize text-gray">{{post.mucGia}} {{post.donViGia}}</h4>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="#" class="badge badge-primary p-2 rounded"  title="Lưu"><i class="fa fa-heart"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END RECENT PROPERTY -->
<!-- END SLIDER IMAGE DETAIL -->

<!-- SINGLE DETAIL -->
<section class="single__Detail" style="padding: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!-- DESCRIPTION -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="single__detail-desc">
                            <h5 class="text-capitalize detail-heading mt-0">Mô tả</h5>
                            <div class="show__more">
                                {{post.moTa}}
                                <a href="javascript:void(0)" class="show__more-button ">Đọc thêm</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <!-- PROPERTY DETAILS SPEC -->
                        <div class="single__detail-features" style="    background: azure; padding-left: 25px;">
                            <h5 class="text-capitalize detail-heading">Thông tin Tài Sản</h5>
                            <!-- INFO PROPERTY DETAIL -->
                            <div class="property__detail-info">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                        <ul class="property__detail-info-list list-unstyled">
                                            <li><b>ID:</b> RV151</li>
                                            <li><b>Giá:</b> $484,400</li>
                                            <li><b>Diện tích tim tường:</b> 1466 Sq Ft</li>
                                            <li><b>Số tầng:</b> {{post.soTang}}</li>
                                            <li><b>Số phòng ngủ: </b> {{post.soPhongNgu}}</li>
                                            <li><b>Số phòng tắm:</b> {{post.soPhongTam}}</li>
                                            <li><b>Số phòng WC:</b> {{post.soPhongWC}}</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <ul class="property__detail-info-list list-unstyled">
                                            <li><b>CarBin:</b> 1</li>
                                            <li><b>Diện tích CarBin:</b> 458 SqFt</li>
                                            <li><b>Xây dựng:</b> 2019-01-09</li>
                                            <li><b>Loại tài sản:</b> Biệt thự, Căn hộ</li>
                                            <li><b>Tình trạng:</b> Cho thuê</li>
                                            <li><b>Hướng nhà:</b> {{post.huongNha}}</li>
                                            <li><b>Hướng ban công:</b> {{post.huongBanCong}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <h6 class="text-primary">Đặc Trưng</h6>
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                        <ul class="property__detail-info-list list-unstyled">
                                            <li><b>Tiệc nướng ngoài trời </b></li>
                                            <li><b>Vườn</b></li>
                                            <li><b>Hiên</b></li>
                                            <li><b>Lò Vi Sóng</b></li>
                                            <li><b>Máy Giặt</b></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <ul class="property__detail-info-list list-unstyled">
                                            <li><b>Tủ Lạnh </b></li>
                                            <li><b>Ti Vi</b></li>
                                            <li><b>Điều Hòa</b></li>
                                            <li><b>Máy Sấy Khô</b></li>
                                            <li><b>Khác...</b></li>
                                        </ul>
                                    </div>
                                </div>      
                            </div>
                            <!-- END INFO PROPERTY DETAIL -->
                        </div>
                        <!-- END PROPERTY DETAILS SPEC -->
                        <div class="clearfix"></div>

                        <!-- <iframe src="https://www.facebook.com/plugins/comment_embed.php?href=https%3A%2F%2Fwww.facebook.com%2Fzuck%2Fposts%2F10102577175875681%3Fcomment_id%3D1193531464007751%26reply_comment_id%3D654912701278942&width=560&include_parent=false&height=134&appId"
                         width="700" height="134" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe> -->
                         <div style="margin-top: 56px;border: 1px solid white;background: rgba(255,255,255, 0.3);">
                            <div class="fb-comments fb_iframe_widget fb_iframe_widget_fluid_desktop" 
                                    data-href="http://localhost:63877/post/detail/BD000052" 
                                    data-width="700" 
                                    data-numposts="5" 
                                    fb-xfbml-state="rendered" 
                                    fb-iframe-plugin-query="app_id=271903206793496&amp;container_width=1077&amp;height=100&amp;href=http%3A%2F%2Flocalhost%3A8081%2FMuaBanNha%2Fsingle.jsp%3FproductID%3D3&amp;locale=vi_VN&amp;numposts=5&amp;sdk=joey&amp;version=v3.2&amp;width=700">
                                    <span style="vertical-align: bottom; width: 700px; height: 340px;">
                                        <iframe name="f3aa7f8234bd14c" 
                                            width="700px" 
                                            height="300px" 
                                            data-testid="fb:comments Facebook Social Plugin" 
                                            title="fb:comments Facebook Social Plugin" 
                                            frameborder="0" 
                                            allowtransparency="true" 
                                            allowfullscreen="true" 
                                            scrolling="no" 
                                            allow="encrypted-media" 
                                            src="https://www.facebook.com/v3.2/plugins/comments.php?app_id=271903206793496&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df3d70270066436%26domain%3Dlocalhost%26origin%3Dhttp%253A%252F%252Flocalhost%253A8081%252Ff1672220b69b94%26relation%3Dparent.parent&amp;container_width=1077&amp;height=100&amp;href=http%3A%2F%2Flocalhost%3A8081%2FMuaBanNha%2Fsingle.jsp%3FproductID%3D3&amp;locale=vi_VN&amp;numposts=5&amp;sdk=joey&amp;version=v3.2&amp;width=700" 
                                            style="border: none; visibility: visible; width: 700px; height: 306px;" 
                                            class="">
                                        </iframe>
                                    </span>
                                </div>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END DESCRIPTION -->
            </div>
            <div class="col-lg-4">
                <div class="sticky-top">
                    <!-- PROFILE AGENT -->
                    <div class="profile__agent mb-30">
                        <div class="profile__agent__group">
                            <h4 style=" margin: 20px 30px 0; color: red;">Liên hệ</h4>
                            <div class="profile__agent__header">
                                <div class="profile__agent__header-avatar" style="display: contents;">
                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            <h5 class="text-capitalize">{{post.tenLienHe}}</h5>
                                        </li>
                                        <li>
                                            <div class="item">
                                                <a href="#">
                                                    <img src="../../../assets/img/c.jpg" alt="Vinhomes Ocean Park" class="img-fluid" style="position: relative;
                                                    border-radius: 0%;
                                                    width: 335px;
                                                    height: 415px;">
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="tel:{{post.sdt}}"><i
                                                    class="fa fa-phone-square mr-1"></i>{{post.sdt}}</a></li>
                                        <li>
                                            <i class=" fa fa-envelope-open mr-1"></i>
                                                {{post.email}}
                                        </li>
                                        <li> 
                                            <i class="fa fa-map-marker">  {{post.diaChiLienHe}}</i>
                                        </li>
                                    </ul>
                                    <div>
                                        <a _ngcontent-wwf-c50="" class="btn btn-primary text-capitalize" style="
                                        margin: auto;
                                        width: 300px;
                                        margin-left: 15px;
                                        margin-top: 17px;
                                        color: aliceblue;" > Thiết kế bới Nguyễn Hải Đăng</a>
                                    </div>
                                </div>

                            </div>
                            
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!-- SIMILIAR PROPERTY -->
        <div class="row">
            <div class="col-lg-12">
                <div class="similiar__item">
                    <h6 class="text-capitalize detail-heading">
                        Bài đăng mới
                    </h6>
                    <div class="similiar__property-carousel owl-carousel owl-theme">
                        <div class="item" *ngFor="let x of list, index as i">
                            <!-- ONE -->
                            <div class="card__image">
                                <div class="card__image-header h-250">
                                    <a routerLink="/post/detail/{{x.maBaiDang}}">
                                        <div class="ribbon text-capitalize"
                                            style="background-color: green;"
                                            *ngIf="x.loaiBaiDang==1">TIN VIP
                                        </div>
                                        <img src="../../../assets/img/{{i+1}}.jpg" alt=""
                                            class="img-fluid w100 img-transition">
                                    </a>
                                </div>
                                <div class="card__image-body">
                                    <h6>
                                        <a
                                            routerLink="/post/detail/{{x.maBaiDang}}">{{x.tieuDe.substr(0,40)}}...
                                        </a>
                                    </h6>

                                    <p class="text-capitalize">
                                        <i class="fa fa-map-marker"></i>
                                        {{x.diaChiChiTiet}}
                                    </p>
                                    <ul class="list-inline card__content">
                                        <li class="list-inline-item">

                                            <span>Diện tích <br>
                                                <i class="fa fa-map"></i> {{x.dienTich}}
                                                <span
                                                    style="text-transform: lowercase;">m²</span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card__image-footer">
                                    <ul class="list-inline my-auto">
                                        <li class="list-inline-item">
                                            <a href="#">
                                                Bùi Huy Đức <br>
                                            </a>

                                        </li>

                                    </ul>
                                    <ul class="list-inline my-auto ml-auto">
                                        <li class="list-inline-item">

                                            <h6 class="text-primary">{{x.mucGia}} {{x.donViGia}}</h6>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- END SIMILIAR PROPERTY -->

    </div>
</section>
<!-- END SINGLE DETAIL -->


