<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="tabs__custom-v2 ">
                            <!-- FILTER VERTICAL -->
                            <ul class="nav nav-pills myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#pills-tab-one" role="tab"
                                        aria-controls="pills-tab-one" aria-selected="true">
                                        <span class="fa fa-th-list"></span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="pill" href="#pills-tab-two" role="tab"
                                        aria-controls="pills-tab-two" aria-selected="false">
                                        <span class="fa fa-th-large"></span></a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade" id="pills-tab-one" role="tabpanel" aria-labelledby="pills-tab-one">
                                    <div class="row" >
                                        <div class="col-lg-12">
                                            <div class="card__image card__box-v1">
                                                <div class="row no-gutters">
                                                    <div class="col-md-4 col-lg-3 col-xl-4">
                                                        <div class="card__image__header h-250">
                                                            <a routerLink="/">
                                                                <div class="ribbon text-capitalize">ĐỌC NHIỀU
                                                                </div>
                                                                <img src="../../../assets/img/e.jpeg" alt=""
                                                                    class="img-fluid w100 img-transition">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-lg-6 col-xl-5 my-auto">
                                                        <div class="card__image__body">
                                                            <h6>
                                                                <a routerLink="/">S2.03 Vinhomes Ocean Park - Vị trí vàng view trọn cảnh quan</a>
                                                            </h6>
                                                            <div class="card__image__body-desc">
                                                                <p class="text-capitalize">
                                                                    Là một trong số những tòa căn hộ có sức hấp dẫn bậc nhất trong thành phố biển hồ, S2.03 Vinhomes Ocean Park với tầm view bao trọn cảnh quan từ nội khu đến ngoại khu, 
                                                                    chắc chắn trở thành điểm hẹn lý tưởng cho những cư dân đang tìm kiếm một cuộc sống nghỉ dưỡng đặc biệt giữa lòng thủ đô.
                                                                </p>
                                                            </div>

                                                            <ul class="list-inline card__content">

                                                                <li class="list-inline-item">
                                                                    <i class="fa fa-clock"></i>
                                                                    <span>
                                                                        24.06.2021
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!-- <div
                                                        class="col-md-4 col-lg-3 col-xl-3 my-auto card__image__footer-first">
                                                        <div class="card__image__footer">

                                                            <ul class="list-inline my-auto">
                                                                <li class="list-inline-item name">

                                                                    Mức giá

                                                                </li>


                                                            </ul>
                                                            <ul class="list-inline my-auto ml-auto price">
                                                                <li class="list-inline-item ">

                                                                    <h6>{{item.mucGia}} {{item.donViGia}}</h6>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="card__image card__box-v1">
                                                <div class="row no-gutters">
                                                    <div class="col-md-4 col-lg-3 col-xl-4">
                                                        <div class="card__image__header h-250">
                                                            <a routerLink="/">
                                                                <div class="ribbon text-capitalize">ĐỌC NHIỀU
                                                                </div>
                                                                <img src="../../../assets/img/a.jpg" alt=""
                                                                    class="img-fluid w100 img-transition">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-lg-6 col-xl-5 my-auto">
                                                        <div class="card__image__body">
                                                            <h6>
                                                                <a routerLink="/">Cập nhật sơ đồ Vinhomes Ocean Park Gia Lâm</a>
                                                            </h6>
                                                            <div class="card__image__body-desc">
                                                                <p class="text-capitalize">
                                                                    Nổi bật với quy hoạch thông minh, vị trí đắc địa cùng các tiện ích độc đáo, sơ đồ Vinhomes Ocean Park là tấm bản đồ dẫn đến một cuộc sống hiện đại, tiện nghi tại khu vực phía Đông thành phố.
                                                                </p>
                                                            </div>

                                                            <ul class="list-inline card__content">

                                                                <li class="list-inline-item">
                                                                    <i class="fa fa-clock"></i>
                                                                    <span>
                                                                        24.06.2021
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="card__image card__box-v1">
                                                <div class="row no-gutters">
                                                    <div class="col-md-4 col-lg-3 col-xl-4">
                                                        <div class="card__image__header h-250">
                                                            <a routerLink="/">
                                                                
                                                                <img src="../../../assets/img/bg18.jpg" alt=""
                                                                    class="img-fluid w100 img-transition">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-lg-6 col-xl-5 my-auto">
                                                        <div class="card__image__body">
                                                            <h6>
                                                                <a routerLink="/">Bộ 03 tiện ích ngoài trời ấn tượng tại Vinhomes Ocean Park</a>
                                                            </h6>
                                                            <div class="card__image__body-desc">
                                                                <p class="text-capitalize">
                                                                    Nổi bật với mô hình “thành phố biển hồ” độc đáo giữa lòng thủ đô, một yếu tố chủ đạo khiến nơi đây kiến tạo lên dấu ấn riêng biệt chính là là hệ thống tiện ích đẳng cấp. Cùng điểm qua 03 tiện ích ngoài trời Vinhomes Ocean Park độc đáo nhất để cảm nhận được “chất sống mới” mà chủ đầu tư Vinhomes đem đến cho mỗi cư dân.
                                                                </p>
                                                            </div>

                                                            <ul class="list-inline card__content">

                                                                <li class="list-inline-item">
                                                                    <i class="fa fa-clock"></i>
                                                                    <span>
                                                                        24.06.2021
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="card__image card__box-v1">
                                                <div class="row no-gutters">
                                                    <div class="col-md-4 col-lg-3 col-xl-4">
                                                        <div class="card__image__header h-250">
                                                            <a routerLink="/">
                                                                
                                                                <img src="../../../assets/img/b.png" alt=""
                                                                    class="img-fluid w100 img-transition">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-lg-6 col-xl-5 my-auto">
                                                        <div class="card__image__body">
                                                            <h6>
                                                                <a routerLink="/">Căn hộ Vinhomes Central Park đáp ứng hoàn hảo mọi nhu cầu khách hàng</a>
                                                            </h6>
                                                            <div class="card__image__body-desc">
                                                                <p class="text-capitalize">
                                                                    Nhằm kiến tạo trải nghiệm sống cao cấp cho cư dân, chủ đầu tư Vinhomes đã quy hoạch các Căn hộ Vinhomes Central Park với nhiều loại hình từ 1 đến 4 phòng ngủ cùng mức giá đa dạng
                                                                </p>
                                                            </div>

                                                            <ul class="list-inline card__content">

                                                                <li class="list-inline-item">
                                                                    <i class="fa fa-clock"></i>
                                                                    <span>
                                                                        24.06.2021
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="card__image card__box-v1">
                                                <div class="row no-gutters">
                                                    <div class="col-md-4 col-lg-3 col-xl-4">
                                                        <div class="card__image__header h-250">
                                                            <a routerLink="/">
                                                                
                                                                <img src="../../../assets/img/c.jpg" alt=""
                                                                    class="img-fluid w100 img-transition">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-lg-6 col-xl-5 my-auto">
                                                        <div class="card__image__body">
                                                            <h6>
                                                                <a routerLink="/">Vinhomes Grand Park - Đáp ứng trọn vẹn lối sống người dân Sài thành</a>
                                                            </h6>
                                                            <div class="card__image__body-desc">
                                                                <p class="text-capitalize">
                                                                    Được mệnh danh là Đại đô thị thông minh đẳng cấp quốc tế, Vinhomes Grand Park với chuỗi tiện ích chuẩn 5 sao cùng vị trí đáng giá bậc nhất chắc chắn sẽ đáp ứng toàn diện mọi nhu cầu
                                                                </p>
                                                            </div>

                                                            <ul class="list-inline card__content">

                                                                <li class="list-inline-item">
                                                                    <i class="fa fa-clock"></i>
                                                                    <span>
                                                                        24.06.2021
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="card__image card__box-v1">
                                                <div class="row no-gutters">
                                                    <div class="col-md-4 col-lg-3 col-xl-4">
                                                        <div class="card__image__header h-250">
                                                            <a routerLink="/">
                                                                
                                                                <img src="../../../assets/img/d.jpg" alt=""
                                                                    class="img-fluid w100 img-transition">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-lg-6 col-xl-5 my-auto">
                                                        <div class="card__image__body">
                                                            <h6>
                                                                <a routerLink="/">Nâng tầm giá trị sống với tiện ích ngoài trời Vinhomes Grand Park</a>
                                                            </h6>
                                                            <div class="card__image__body-desc">
                                                                <p class="text-capitalize">
                                                                    Tọa lạc tại cửa ngõ phía Đông Sài Gòn, Vinhomes Grand Park sở hữu quy mô hơn 272 ha với khuôn viên sống xanh, trong lành đáng mơ ước. Đi đầu trong việc kiến thiết chuẩn sống mới, 
                                                                </p>
                                                            </div>

                                                            <ul class="list-inline card__content">

                                                                <li class="list-inline-item">
                                                                    <i class="fa fa-clock"></i>
                                                                    <span>
                                                                        24.06.2021
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="tab-pane fade show active" id="pills-tab-two" role="tabpanel" aria-labelledby="pills-tab-two">
                                    <div>
                                        <div class="col-md-4 col-lg-4" style="float: left;padding-top: 15px;">
                                            <div class="card__image card__box-v1">
                                                <a routerLink="/">
                                                
                                                    <div class="card__image-header h-250">

                                                        <div class="ribbon text-capitalize"
                                                            style="background-color: green;"
                                                        >Đọc Nhiều
                                                        </div>
                                                        <img src="../../../assets/img/e.jpeg" alt=""
                                                            class="img-fluid w100 img-transition">
                                                    </div>
                                                </a>
                                                <div class="card__image-body">
                                                    <h6 class="text-capitalize">
                                                        <a routerLink="/">
                                                            S2.03 Vinhomes Ocean Park - Vị trí vàng cảnh quan
                                                        </a>
                                                    </h6>

                                                    <p class="text-capitalize">
                                                        Là một trong số những tòa căn hộ có sức hấp dẫn bậc nhất trong thành phố biển hồ, S2.03 Vinhomes Ocean Park với tầm view bao trọn cảnh quan từ nội khu đến ngoại khu, 
                                                        chắc chắn trở thành điểm hẹn lý tưởng cho những cư dân đang tìm kiếm một cuộc sống nghỉ dưỡng đặc biệt giữa lòng thủ đô.
                                                                
                                                    </p>
                                                    <ul class="list-inline card__content">
                                                        <li class="list-inline-item">
                                                            <span>
                                                                <i class="fas fa-clock"></i>24.06.2021
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                        
                                            </div>
                                        </div>                                      
                                        <div class="col-md-4 col-lg-4" style="float: left;padding-top: 15px;">
                                            <div class="card__image card__box-v1">
                                                <a routerLink="/">
                                                
                                                    <div class="card__image-header h-250">
                                                        <img src="../../../assets/img/a.jpg" alt=""
                                                            class="img-fluid w100 img-transition">
                                                    </div>
                                                </a>
                                                <div class="card__image-body">
                                                    <h6 class="text-capitalize">
                                                        <a routerLink="/">
                                                            Cập nhật sơ đồ Vinhomes Ocean Park Gia Lâm
                                                        </a>
                                                    </h6>

                                                    <p class="text-capitalize">
                                                        Nổi bật với quy hoạch thông minh, vị trí đắc địa cùng các tiện ích độc đáo, sơ đồ Vinhomes Ocean Park là tấm bản đồ dẫn đến một cuộc sống hiện đại, tiện nghi tại khu vực phía Đông thành phố. Vinhomes Ocean Park được quy hoạch thông minh, đồng bộ, mở ra không gian sống nghỉ dưỡng thời thượng
                                                    </p>
                                                    <ul class="list-inline card__content">
                                                        <li class="list-inline-item">
                                                            <span>
                                                                <i class="fas fa-clock"></i>24.06.2021
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                        
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-lg-4" style="float: left;padding-top: 15px;">
                                            <div class="card__image card__box-v1">
                                                <a routerLink="/">
                                                
                                                    <div class="card__image-header h-250">
                                                        <img src="../../../assets/img/b.png" alt=""
                                                            class="img-fluid w100 img-transition">
                                                    </div>
                                                </a>
                                                <div class="card__image-body">
                                                    <h6 class="text-capitalize">
                                                        <a routerLink="/">
                                                            Bộ 03 tiện ích ngoài trời ấn tượng tại Vinhomes Ocean Park
                                                        </a>
                                                    </h6>

                                                    <p class="text-capitalize">
                                                        Nổi bật với mô hình “thành phố biển hồ” độc đáo giữa lòng thủ đô, một yếu tố chủ đạo khiến nơi đây kiến tạo lên dấu ấn riêng biệt chính là là hệ thống tiện ích đẳng cấp. Cùng điểm qua 03 tiện ích ngoài trời Vinhomes Ocean Park độc đáo nhất để cảm nhận được “chất sống mới”.
                                                    </p>
                                                    <ul class="list-inline card__content">
                                                        <li class="list-inline-item">
                                                            <span>
                                                                <i class="fas fa-clock"></i>24.06.2021
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                        
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-lg-4" style="float: left; padding-top: 15px;">
                                            <div class="card__image card__box-v1">
                                                <a routerLink="/">
                                                
                                                    <div class="card__image-header h-250">
                                                        <img src="../../../assets/img/bg18.jpg" alt=""
                                                            class="img-fluid w100 img-transition">
                                                    </div>
                                                </a>
                                                <div class="card__image-body">
                                                    <h6 class="text-capitalize">
                                                        <a routerLink="/">
                                                            Căn hộ Vinhomes Central Park đáp ứng hoàn hảo mọi nhu cầu khách hàng
                                                        </a>
                                                    </h6>

                                                    <p class="text-capitalize">
                                                        Nhằm kiến tạo trải nghiệm sống cao cấp cho cư dân, chủ đầu tư Vinhomes đã quy hoạch các Căn hộ Vinhomes Central Park với nhiều loại hình từ 1 đến 4 phòng ngủ cùng mức giá đa dạng
                                                    </p>
                                                    <ul class="list-inline card__content">
                                                        <li class="list-inline-item">
                                                            <span>
                                                                <i class="fas fa-clock"></i>24.06.2021
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                        
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-lg-4" style="float: left;padding-top: 15px;">
                                            <div class="card__image card__box-v1">
                                                <a routerLink="/">
                                                
                                                    <div class="card__image-header h-250">
                                                        <img src="../../../assets/img/c.jpg" alt=""
                                                            class="img-fluid w100 img-transition">
                                                    </div>
                                                </a>
                                                <div class="card__image-body">
                                                    <h6 class="text-capitalize">
                                                        <a routerLink="/">
                                                            Vinhomes Grand Park - Đáp ứng trọn vẹn lối sống người dân Sài thành
                                                        </a>
                                                    </h6>

                                                    <p class="text-capitalize">
                                                        Được mệnh danh là Đại đô thị thông minh đẳng cấp quốc tế, Vinhomes Grand Park với chuỗi tiện ích chuẩn 5 sao cùng vị trí đáng giá bậc nhất chắc chắn sẽ đáp ứng toàn diện mọi nhu cầu
                                                    </p>
                                                    <ul class="list-inline card__content">
                                                        <li class="list-inline-item">
                                                            <span>
                                                                <i class="fas fa-clock"></i>24.06.2021
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                        
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-lg-4" style="float: left;padding-top: 15px;">
                                            <div class="card__image card__box-v1">
                                                <a routerLink="/">
                                                
                                                    <div class="card__image-header h-250">
                                                        <img src="../../../assets/img/d.jpg" alt=""
                                                            class="img-fluid w100 img-transition">
                                                    </div>
                                                </a>
                                                <div class="card__image-body">
                                                    <h6 class="text-capitalize">
                                                        <a routerLink="/">
                                                            Nâng tầm giá trị sống với tiện ích ngoài trời Vinhomes Grand Park
                                                        </a>
                                                    </h6>

                                                    <p class="text-capitalize">
                                                        Tọa lạc tại cửa ngõ phía Đông Sài Gòn, Vinhomes Grand Park sở hữu quy mô hơn 272 ha với khuôn viên sống xanh, trong lành đáng mơ ước. Đi đầu trong việc kiến thiết chuẩn sống mới, 
                                                    </p>
                                                    <ul class="list-inline card__content">
                                                        <li class="list-inline-item">
                                                            <span>
                                                                <i class="fas fa-clock"></i>24.06.2021
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                        
                                            </div>
                                        </div>

                                    </div>

                                    <div class="cleafix"></div>
                                </div>
                            </div>
                            <!-- END FILTER VERTICAL -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>