<div class="slider-container">
    <div class="container-slider-image-full  ">
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators d-none">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active banner-max-height">
                    <img class="d-block w-100" src="../../../assets/img/slider1.jpg" alt="First slide">
                    <div class="carousel-caption banner__slide-overlay d-flex h-100">
                        <div class="carousel__content">
                            <div class="container">
                                <div class="caption-text">
                                    <div class="mh-slider__card-default">
                                        <h3 class="mh-slider__card-default__heading">Giữa bộn bề cuộc sống cát trắng và biển xanh</h3>
                                        <div class="position-relative">
                                            <a class="mh-slider__card-default__address" href="/!">
                                                <marquee  width="445px" direction="right">
                                                    <span>VINHOMES OCEAN PARK</span>
                                                </marquee>
                                            </a>
                                            <div class="mh-slider__card-default__price">
                                                <div>SỰ THỊNH VƯỢNG</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item  banner-max-height">
                    <img class="d-block w-100" src="../../../assets/img/slider2.jpg" alt="First slide">
                    <div class="carousel-caption banner__slide-overlay d-flex h-100">
                        <div class="carousel__content">
                            <div class="container">
                                <div class="caption-text">
                                    <div class="mh-slider__card-default">
                                        <h3 class="mh-slider__card-default__heading"> Thành phố xanh tươi  Cuộc đời trọn vẹn</h3>
                                        <div class="position-relative">
                                            <a class="mh-slider__card-default__address" href="/!">
                                                <marquee  width="445px" direction="right">
                                                    <span>VINHOMES OCEAN PARK</span>
                                                </marquee>
                                            </a>
                                            <div class="mh-slider__card-default__price">
                                                <div>SỰ THỊNH VƯỢNG</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item banner-max-height">
                    <img class="d-block w-100" src="../../../assets/img/slider3.jpg" alt="Second slide">
                    <div class="carousel-caption banner__slide-overlay d-flex h-100">
                        <div class="carousel__content">
                            <div class="container">
                                <div class="caption-text">
                                    <div class="mh-slider__card-default">
                                        <h3 class="mh-slider__card-default__heading"> Tòa Teckno Park Tiên phong trong sự nghiệp phát triển đô thị</h3>
                                        <div class="position-relative">
                                            <a class="mh-slider__card-default__address" href="/!">
                                                <marquee  width="445px" direction="right">
                                                    <span>VINHOMES OCEAN PARK</span>
                                                </marquee>
                                            </a>
                                            <div class="mh-slider__card-default__price">
                                                <div>SỰ THỊNH VƯỢNG</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item banner-max-height">
                    <img class="d-block w-100" src="../../../assets/img/slider4.jpg" alt="Third slide">
                    <div class="carousel-caption banner__slide-overlay d-flex h-100">
                        <div class="carousel__content">
                            <div class="container">
                                <div class="caption-text">
                                    <div class="mh-slider__card-default">
                                        <h3 class="mh-slider__card-default__heading"> Tòa Teckno Park Tiên phong trong sự nghiệp phát triển đô thị</h3>
                                        <div class="position-relative">
                                            <a class="mh-slider__card-default__address" href="/!">
                                                <marquee  width="445px" direction="right">
                                                    <span>VINHOMES OCEAN PARK</span>
                                                </marquee>
                                            </a>
                                            <div class="mh-slider__card-default__price">
                                                <div>SỰ THỊNH VƯỢNG</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item banner-max-height">
                    <img class="d-block w-100" src="../../../assets/img/slider6.jpg" alt="Third slide">
                    <div class="carousel-caption banner__slide-overlay d-flex h-100">
                        <div class="carousel__content">
                            <div class="container">
                                <div class="caption-text">
                                    <div class="mh-slider__card-default">
                                        <h3 class="mh-slider__card-default__heading"> Thành phố xanh tươi  Cuộc đời trọn vẹn</h3>
                                        <div class="position-relative">
                                            <a class="mh-slider__card-default__address" href="/!">
                                                <marquee  width="445px" direction="right">
                                                    <span>VINHOMES OCEAN PARK</span>
                                                </marquee>
                                            </a>
                                            <div class="mh-slider__card-default__price">
                                                <div>SỰ THỊNH VƯỢNG</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item banner-max-height">
                    <img class="d-block w-100" src="../../../assets/img/slider7.jpg" alt="Third slide">
                    <div class="carousel-caption banner__slide-overlay d-flex h-100">
                        <div class="carousel__content">
                            <div class="container">
                                <div class="caption-text">
                                    <div class="mh-slider__card-default">
                                        <h3 class="mh-slider__card-default__heading"> Nhà đẹp của bạn Thành công của chúng tôi</h3>
                                        <div class="position-relative">
                                            <a class="mh-slider__card-default__address" href="/!">
                                                <marquee  width="445px" direction="right">
                                                    <span>VINHOMES OCEAN PARK</span>
                                                </marquee>
                                            </a>
                                            <div class="mh-slider__card-default__price">
                                                <div>SỰ THỊNH VƯỢNG</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item banner-max-height">
                    <img class="d-block w-100" src="../../../assets/img/slider8.jpg" alt="Third slide">
                    <div class="carousel-caption banner__slide-overlay d-flex h-100">
                        <div class="carousel__content">
                            <div class="container">
                                <div class="caption-text">
                                    <div class="mh-slider__card-default">
                                        <h3 class="mh-slider__card-default__heading"> Nhà đẹp của bạn Thành công của chúng tôi</h3>
                                        <div class="position-relative">
                                            <a class="mh-slider__card-default__address" href="/!">
                                                <marquee  width="445px" direction="right">
                                                    <span>VINHOMES OCEAN PARK</span>
                                                </marquee>
                                            </a>
                                            <div class="mh-slider__card-default__price">
                                                <div>SỰ THỊNH VƯỢNG</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-nav-prev">
                <i class="fa fa-2x fa-angle-left"></i>
            </span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-nav-next">
                <i class="fa fa-2x fa-angle-right"></i>
            </span>
        </a>
    </div>
</div>